:root {
  --main-color: #008dde;
  --second-color: #006ba8;
  --border-radius: 15px;
  --main-padding: 15px 30px;
  --transition-duration: 0.3s;
}
/* Start Main Rules */
body {
  background-color: #f4f4f4;
  /* Arabic File */
  /* direction: rtl; */
}
/* End Main Rules */

/* Start Gloabal Customization */
/* Arabic File */

.custom_shadow {
  padding: 20px;
  box-shadow: 0 3px 12px #ccc;
  border-radius: var(--border-radius);
}

.custom-container {
  max-width: 900px;
}

.input-wrapper {
  position: relative;
}
.asterisk {
  position: absolute;
  top: 50%;
  /* Edit It In Arabic Style */
  right: 10px;
  transform: translateY(-40%);
  color: red;
  font-size: 18px;
  -webkit-transform: translateY(-40%);
  -moz-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -o-transform: translateY(-40%);
}

h1,
h2 {
  color: var(--main-color);
  font-weight: bold;
  margin: 0;
  text-align: center;
  padding: 20px;
}
/* h1 {
  font-size: 40px;
} */
h3 {
  font-size: 20px;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-color);
  transition: all var(--transition-duration) ease-in-out;
}
.link:hover {
  color: var(--second-color);
}

p.check-description-length {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End Gloabal Customization */

/* Start Custom Bootstrap */
/* Start navbar */

.upper-bar,
.navbar {
  user-select: none;
}

.upper-bar {
  background-color: var(--main-color);
  color: #fff !important;
  padding: 2px 0;
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}
.upper-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-weight: bold;
}
.upper-bar .container .dropdown {
  margin: 0;
}
.upper-bar .container .dropdown .dropdown-toggle {
  padding: 0;
}
.upper-bar a {
  color: #fff;
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}

a.navbar-brand {
  color: var(--main-color);
  font-weight: bold;
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}
a.navbar-brand:hover {
  color: var(--second-color);
}

div.collapse {
  justify-content: end;
}
.nav-item a {
  padding: 5px;
  margin-right: 5px;
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}

.nav-item a.active {
  background-color: var(--main-color);
  color: #fff !important;
  font-weight: bold;
}
/* .nav-item:hover a {
  background-color: var(--main-color);
  color: #fff;
} */
li.dropdown {
  margin-right: 40px;
}

.navbar-nav a.user_name {
  color: #008dde !important;
  transition: all var(--transition-duration) ease-in-out;
  font-weight: bold;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}

.navbar-nav a.user_name:hover {
  color: var(--second-color) !important;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    top: 48px;
    margin: 0;
  }
}
ul.user_ul {
  padding: 0;
  margin: 0;
}

ul .user_ul li {
  margin: 0;
  padding: 0;
}
.user_ul li .user_options {
  transition: all var(--transition-duration) ease-in-out;
  padding: 5px 10px;
  color: var(--main-color);
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}
.user_ul li .user_options:hover {
  color: #fff;
  background-color: var(--main-color);
}
/* End navbar */

/* Start Login */
.login-page form {
  max-width: 450px;
  margin: 100px auto;
}
.login-page form h3 {
  color: var(--main-color);
  font-weight: bold;
}
.login-page form h2.sing-up {
  color: #42b72a;
}
.login-page form .form-group {
  position: relative;
  margin-bottom: 7px;
}
.login-page form .form-group input {
  background: #e5e5e5;
}
.login-page form button,
.login-page form a {
  font-weight: bold;
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}
.login-page form .user-signup-btn {
  background-color: #42b72a;
  border: none;
}
.login-page form .user-signup-btn:hover {
  background-color: #36a420;
}
.login-page form .errors {
  padding: 8px;
  margin-bottom: 5px;
  text-align: center;
}
/* End Login */

/* Start Signup */

/* End Signup */

/* Start Category Page */

.row .item-box {
  position: relative;
  margin-bottom: 20px;
  padding: 0 10px;
  border-radius: var(--border-radius);
  box-shadow: 0 3px 12px #ccc;
}
.row .item-box .item-price,
.row .item-box .item-cat {
  position: absolute;
  color: #fff;
  padding: 3px 10px;
  font-weight: bold;
  top: 0px;
}
.row .item-box .item-price {
  left: 0;
  background-color: var(--main-color);
  border-radius: 14px 0 14px 0;
}
.row .item-box .item-cat {
  right: 0;
  background-color: #e9524a;
  border-radius: 0 14px 0 14px;
}

/* End Category Page */

/* Start Profile */
.custom-profile {
  margin-bottom: 20px;
}
.custom-profile .card {
  background-color: #fff;
  margin: 10px 0;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  box-shadow: 0 3px 12px #ccc;
}
.custom-profile .card .card-heading {
  font-weight: bold;
}
.my-info .card .card-body div {
  padding: 5px 10px;
}
.my-info .card .card-body div:nth-child(even) {
  background-color: #f4f4f4;
}
.my-info .card .card-body div span {
  display: inline-block;
  width: 100px;
}

.my-info .card .card-heading,
.my-ads .card .card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-info .card .card-heading a,
.my-ads .card .card-heading a {
  color: var(--main-color);
  text-decoration: none;
  background-color: #fff;
  padding: 0px 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.latest .row .card {
  background-color: #fff;
  margin: 10px 0;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  box-shadow: 0 3px 12px #ccc;
}

.latest .row .card .card-heading {
  background: #f5f5f5;
  padding: 10px 20px;
}

.latest .row .card .card-body {
  padding: 10px 20px;
}

.latest .row .card .card-body .comment-box {
  display: flex;
  align-items: center;
}
.latest .row .card .card-body .comment-box:not(:last-child) {
  margin-bottom: 10px;
}

.latest .row .card .card-body .comment-box .member-name,
.latest .row .card .card-body .comment-box .member-comment,
.latest .row .card .card-body .comment-box .item-name {
  padding: 2px 10px;
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}
.latest .row .card .card-body .comment-box .member-name,
.latest .row .card .card-body .comment-box .item-name {
  width: 100px;
  margin-right: 10px;
  background: var(--main-color);
  color: white;
  text-align: center;
  /* font-weight: bold; */
}
.latest .row .card .card-body .comment-box .member-name:hover,
.latest .row .card .card-body .comment-box .item-name:hover {
  background-color: #f5f5f5;
  color: #212529;
}
.latest .row .card .card-body .comment-box .item-name {
  flex: 1;
}
.latest .row .card .card-body .comment-box .member-comment {
  flex: 5;
  background-color: #f5f5f5;
  margin: 0;
}
.latest .row .card .card-body .comment-box .member-comment:hover {
  /* background-color: #ced4da; */
  background-color: var(--main-color);
  color: #fff;
}

/* End Profile */

/* Start Show Item Page */

.container .item-image {
  box-shadow: 0 3px 10px #ccc;
  border-radius: var(--border-radius);
}

.item-info .description {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 3px 12px #ccc;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 25px;
}
.item-info .description span {
  font-weight: bold;
}
.item-info ul li {
  margin-bottom: 10px;
}
.item-info ul li:nth-child(odd) {
  background-color: #eee;
}

.item-info ul li span {
  font-weight: bold;
  display: inline-block;
  width: 150px;
  padding: 5px;
}

.latest .row .panel {
  background-color: #fff;
  margin: 10px 0;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  box-shadow: 0 3px 12px #ccc;
}

.latest .row .panel .panel-heading {
  background: #f5f5f5;
  padding: 10px 20px;
}

.latest .row .panel .panel-body {
  padding: 10px 20px;
}

.latest .row .panel .panel-body .comment-box {
  display: flex;
  align-items: center;
}
.latest .row .panel .panel-body .comment-box:not(:last-child) {
  margin-bottom: 10px;
}

.latest .row .panel .panel-body .comment-box .member-name,
.latest .row .panel .panel-body .comment-box .member-comment,
.latest .row .panel .panel-body .comment-box .item-name {
  padding: 2px 10px;
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}
.latest .row .panel .panel-body .comment-box .member-name,
.latest .row .panel .panel-body .comment-box .item-name {
  width: 100px;
  margin-right: 10px;
  background: var(--main-color);
  color: white;
  text-align: center;
  /* font-weight: bold; */
}
.latest .row .panel .panel-body .comment-box .member-name:hover,
.latest .row .panel .panel-body .comment-box .item-name:hover {
  background-color: #f5f5f5;
  color: #212529;
}
.latest .row .panel .panel-body .comment-box .item-name {
  flex: 1;
}
.latest .row .panel .panel-body .comment-box .member-comment {
  flex: 5;
  background-color: #f5f5f5;
  margin: 0;
}
.latest .row .panel .panel-body .comment-box .member-comment:hover {
  /* background-color: #ced4da; */
  background-color: var(--main-color);
  color: #fff;
}

/* End Show Item Page */

/* End Custom Bootstrap */
