:root {
  --main-color: #008dde;
  --second-color: #006ba8;
  --border-radius: 15px;
  --main-padding: 15px 30px;
  --transition-duration: 0.3s;
}
/* Start Main Rules */
body {
  background-color: #f4f4f4;
  /* Arabic File */
  /* direction: rtl; */
}
/* End Main Rules */

/* Start Gloabal Customization */
/* Arabic File */
.input-wrapper {
  position: relative;
}
.asterisk {
  position: absolute;
  top: 50%;
  /* Edit It In Arabic Style */
  right: 10px;
  transform: translateY(-40%);
  color: red;
  font-size: 18px;
  -webkit-transform: translateY(-40%);
  -moz-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -o-transform: translateY(-40%);
}
.table > thead {
  user-select: none;
}
i.fa {
  /* Arabic File */
  margin-right: 3px;
}
/* End Gloabal Customization */

/* Start Login Form */
.login {
  width: 350px;
  margin: 200px auto;
}

.login .form-control {
  background-color: #e5e5e5;
}
.login h3 {
  color: var(--main-color);
  font-weight: bold;
}
.login .btn {
  background-color: var(--main-color);
}
.login .btn:hover {
  background-color: var(--second-color);
}
/* End Login Form */

/* Start Custom Bootstrap */
/* Start navbar */

a.navbar-brand {
  color: var(--main-color);
  font-weight: bold;
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}
a.navbar-brand:hover {
  color: var(--second-color);
}

div.collapse {
  justify-content: space-between;
}
.nav-item a {
  padding: 5px;
  margin-right: 5px;
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}

.nav-item a.active {
  background-color: var(--main-color);
  color: #fff !important;
  font-weight: bold;
}
/* .nav-item:hover a {
  background-color: var(--main-color);
  color: #fff;
} */
li.dropdown {
  margin-right: 40px;
}

.navbar-nav a.user_name {
  color: #008dde !important;
  transition: all var(--transition-duration) ease-in-out;
  font-weight: bold;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}

.navbar-nav a.user_name:hover {
  /* color: var(--second-color); */
  color: var(--second-color) !important;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    top: 48px;
    margin: 0;
  }
}
ul.user_ul {
  padding: 0;
  margin: 0;
}

ul .user_ul li {
  margin: 0;
  padding: 0;
}
.user_ul li .user_options {
  transition: all var(--transition-duration) ease-in-out;
  padding: 5px 10px;
  color: var(--main-color);
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}
.user_ul li .user_options:hover {
  color: #fff;
  background-color: var(--main-color);
}
/* End navbar */

/* Start Dashboard */
.home-stat .row .stat {
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  box-shadow: 0 3px 12px #ccc;
}

.home-stat .row .st-members {
  /* background-color: #16a085; */
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}
/* .home-stat .row .st-members:hover {
  background-color: #1abc9c;
} */
.home-stat .row .st-pending {
  /* background-color: #27ae60; */
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}

.home-stat .row .stat span {
  display: block;
  font-size: 40px;
  font-weight: bold;
}

.home-stat .row .stat span a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  /* color: #fff; */
}

.latest .row .panel {
  background-color: #fff;
  /* padding: 20px; */
  margin: 10px;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  box-shadow: 0 3px 12px #ccc;
}

.latest .row .panel .panel-heading {
  background: #f5f5f5;
  padding: 10px 20px;
}

.latest .row .panel .panel-body {
  padding: 5px 20px;
}

.list-group .list-items {
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}

.list-group .list-items:hover {
  background-color: var(--main-color);
  color: #fff;
  margin-left: 5px;
}

.latest .row .panel .panel-body .comment-box {
  display: flex;
  align-items: center;
}
.latest .row .panel .panel-body .comment-box:not(:last-child) {
  margin-bottom: 10px;
}

.latest .row .panel .panel-body .comment-box .member-name,
.latest .row .panel .panel-body .comment-box .member-comment {
  padding: 2px 10px;
  /* border-radius: var(--border-radius); */
  transition: all var(--transition-duration) ease-in-out;
  /* -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius); */
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
}
.latest .row .panel .panel-body .comment-box .member-name {
  width: 100px;
  margin-right: 10px;
  background: var(--main-color);
  color: white;
  text-align: center;
  /* font-weight: bold; */
}
.latest .row .panel .panel-body .comment-box .member-name:hover {
  background-color: #f5f5f5;
  color: #212529;
}
.latest .row .panel .panel-body .comment-box .member-comment {
  flex: 1;
  background-color: #f5f5f5;
  margin: 0;
}
.latest .row .panel .panel-body .comment-box .member-comment:hover {
  /* background-color: #ced4da; */
  background-color: var(--main-color);
  color: #fff;
}

/* End Dashboard */

/* Start Categories Page */

.cat-container .row .custom-btn button {
  padding: 3px 10px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.cat-container .category-description {
  width: 350px;
}

.cat-container tbody tr span {
  color: white;
  padding: 3px 6px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
  transition: all var(--transition-duration) ease-in-out;
  -webkit-transition: all var(--transition-duration) ease-in-out;
  -moz-transition: all var(--transition-duration) ease-in-out;
  -ms-transition: all var(--transition-duration) ease-in-out;
  -o-transition: all var(--transition-duration) ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.cat-container tbody tr span.cat-on {
  background-color: #2ecc71;
}
.cat-container tbody tr span.cat-on:hover {
  background-color: #27ae60;
}
.cat-container tbody tr span.cat-off {
  background-color: #e74c3c;
}
.cat-container tbody tr span.cat-off:hover {
  background-color: #c0392b;
}
.cat-container tbody tr span.order-unset {
  background-color: #e67e22;
}
.cat-container tbody tr span.order-unset:hover {
  background-color: #d35400;
}

/* End Categories Page */

/* Start Members Page */
h1,
h2 {
  color: #008dde;
  font-weight: bold;
  margin: 0;
  text-align: center;
  padding: 30px;
}
h1 {
  font-size: 50px;
}
.edit-container,
.add-container {
  max-width: 900px;
}

input::placeholder {
  font-size: 14px;
}
/* End Member Page */

/* Start Manage Page */

.main-table {
  box-shadow: 0 3px 12px #ccc;
}
.main-table img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main-table .custom-row {
  vertical-align: middle;
}

.main-table .custom-description {
  max-width: 400px;
}
.main-table .custom-item-row {
  vertical-align: middle;
}
.main-table .btn {
  color: #fff;
  padding: 3px 10px;
}
.main-table .btn i {
  /* margin-right: 3px; */
  font-size: 16px;
  width: 16px;
}
.main-table .btn i.fa {
  margin: 0;
}
@media (max-width: 1200px) {
  .main-table .btn:not(:last-child) {
    margin-bottom: 2px;
  }
}

.main-table thead tr td {
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
}

/* End Manage Page */
/* End Custom Bootstrap */
